<div fxFill fxLayout="column">
  <main-header>
    <main-header-title>
      AdminPanel 2020 Sprint W31-32
    </main-header-title>
    <main-header-tools>
      <button ibmButton="primary" size="sm" (click)="{}">
        Create
        <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
      </button>
    </main-header-tools>
  </main-header>
  <div class="p-4 flex items-center">
    <div class="app-ibm-btn-merge mr-2" fxHide fxShow.gt-sm>
      <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
        <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
      </button>
    </div>
    <div class="mr-3" style="width:170px">
      <ibm-search placeholder="Search task..." size="sm"></ibm-search>
    </div>
    <div class="flex flex-1 justify-end" fxHide fxShow.gt-sm>
      <button ibmButton="tertiary" size="sm">
        Quick filters
        <svg class="bx--btn__icon" ibmIconArrowDown size="20"></svg>
      </button>
    </div>
  </div>
  <div fxFlex class="relative app-border-t">
    <div class="app-a-box app-scrollbar-fix--horizontal ml-2 p-8">
      <ng-scrollbar track="vertical" class="h-[300px]">
        <div fxLayout="row wrap">
          <div fxFlex="100%">
            <div class="mb-8">
              <div class="mb-4">
                <div class="app-productive-heading-03 font-bold">Transaction history</div>
                <div class="app-body-short-01">List of your all invoices</div>
              </div>
              <div class="app-cards-vertical-merge">
                <ng-container *ngFor="let invoice of transactions">
                  <div class="app-card">
                    <div class="app-card__content">
                      <div fxLayout="row wrap" fxLayoutAlign=" center">
                        <div fxFlex.gt-md="180px" fxFlex="100%">
                          <div class="flex items-center">
                            <ng-container *ngIf="invoice.payed">
                              <main-ibm-icon iconName="document" iconSize="32"></main-ibm-icon>
                            </ng-container>
                            <ng-container *ngIf="!invoice.payed">
                              <main-ibm-icon iconName="inProgress" iconSize="32"></main-ibm-icon>
                            </ng-container>
                            <div class="ml-4">
                              <div class="app-productive-heading-01 mb-1">#{{invoice.number}}</div>
                              <div class="app-label-01">
                                <ng-container *ngIf="invoice.payed">
                                  <div class="pr-3 pl-2 py-1 app-bg-success-o-20 app-color-success rounded-full flex items-center">
                                    <span class="w-2 h-2 app-bg-success rounded-full inline-block mr-2"></span>
                                    Payed
                                  </div>
                                </ng-container>
                                <ng-container *ngIf="!invoice.payed">
                                  <div class="pr-3 pl-2 py-1 app-bg-info-o-20 app-color-info rounded-full flex items-center">
                                    <span class="w-2 h-2 app-bg-info rounded-full inline-block mr-2"></span>
                                    waiting
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div fxFlex.gt-md="320px" fxFlex="100%" class="">
                          <div class="app-productive-heading-02 mb-1">{{invoice.title}}</div>
                          <div class="app-body-short-01">{{invoice.range}}</div>
                        </div>
                        <div fxFlex.gt-md="100px" fxFlex="100%">
                          <div class="app-productive-heading-03">₹ {{invoice.price}}</div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="8px">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <button ibmButton="tertiary" size="field" class="bx--btn--icon-only bx--btn--remove-tooltip">
                              <svg class="bx--btn__icon" ibmIconEdit size="32"></svg>
                            </button>

                            <button ibmButton="tertiary" size="field" class="bx--btn--icon-only bx--btn--remove-tooltip">
                              <svg class="bx--btn__icon" ibmIconView size="32"></svg>
                            </button>

                            <button ibmButton="tertiary" size="field" class="bx--btn--icon-only bx--btn--remove-tooltip">
                              <svg class="bx--btn__icon" ibmIconDownload size="32"></svg>
                            </button>

                            <button ibmButton="tertiary" size="field" class="bx--btn--icon-only bx--btn--remove-tooltip">
                              <svg class="bx--btn__icon" ibmIconEmail size="32"></svg>
                            </button>
                          <!-- </div>

                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"> -->
                            <button [disabled]="!invoice.payed" ibmButton="danger" size="field" class="bx--btn--icon-only bx--btn--remove-tooltip">
                              <svg class="bx--btn__icon" ibmIconTrashCan size="32"></svg>
                            </button>

                            <button [disabled]="invoice.payed" ibmButton="primary" size="field" class="bx--btn--icon-only bx--btn--remove-tooltip">
                              <svg class="bx--btn__icon" ibmIconCheckmark size="32"></svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>

