<div fxFill fxLayout="column">
  <main-header>
    <main-header-title>
      The {{profile.organizationName}} Attendance
    </main-header-title>
    <main-header-tools>
      <div class="app_header__tools flex gap-2">
        <button (click)="attendance()" *ngIf="!_profile.data.presentToday" ibmButton="tertiary" size="sm" fxHide fxShow.gt-sm>
          Mark Attendance
          <svg class="bx--btn__icon" ibmIconUserAdmin size="20"></svg>
        </button>
        <button ibmButton="primary" size="sm">
          Synchronise
          <svg class="bx--btn__icon" ibmIconCheckmarkOutline size="20"></svg>
        </button>
      </div>
    </main-header-tools>
  </main-header>
  <div fxFlex class="relative">
    <main-sidenav-container panel="solid">
      <main-sidenav
        [breakpoint]="'md'"
        [direction]="'left'"
        [opened]="leftSidebarVisibility"
        [hoverAble]="true"
        [mode]="'side'"
        [toggleableBtn]="true"
        [size]="'sideBar1'">
        <div fxFill fxLayout="column" class="app-bg-container">

          <div class="app-border-b flex items-center px-4 py-3">
            <div class="pr-2">
              <img class="w-10 h-10 rounded-full" src="assets/img/avatar/avatar2.jpg"/>
            </div>
            <div class="mr-4">
              <div>
                <!-- <div class="app-expressive-heading-02">{{profile?.organizationName}}</div> -->
                <!-- <div class="app-helper-text-01">Signed in as</div> -->
                <div class="app-expressive-heading-02">{{profile?.firstName}} {{profile?.lastName}}</div>
                <div class="app-helper-text-01">({{profile?.userName}})</div>
              </div>
            </div>
          </div>

          <div fxFlex class="relative">
            <div class="app-a-box app-scrollbar-fix">
              <ng-scrollbar>
                <!-- <div class="mt-2">
                  <div class="app-list-header-pill">TAGS</div>
                  <div class="app-list-pill">
                    <ng-container *ngFor="let tag of tags">
                      <div class="app-list-pill__item">
                        <div class="app-list-pill__item__inner"
                             [ngClass]="{'app-list-pill__item__inner--active':tag.active}">
                          <span class="h-3 w-3 rounded-full mr-2" [class]="tag.bg"></span>
                          {{tag.name}}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div> -->
                <div class="mt-2">
                  <div class="app-list-header-pill">TEAM MEMBERS</div>
                  <div class="app-list-pill">
                    <ng-container *ngFor="let user of users">
                      <div class="app-list-pill__item">
                        <div (click)="fetchAttendance(user._id,range)" class="app-list-pill__item__inner" [ngClass]="{'app-list-pill__item__inner--active':activeUser == user._id}">
                          <img class="h-3 w-3 rounded-full mr-2" [src]="user.avatar"/>
                          {{user.name}}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <!-- <div class="mt-2">
                  <div class="app-list-header-pill">ARCHIVES</div>
                  <div class="app-list-pill">
                    <ng-container *ngFor="let archive of archives">
                      <div class="app-list-pill__item">
                        <div class="app-list-pill__item__inner">
                          <main-ibm-icon iconName="archive" iconSize="16" class="mr-2"></main-ibm-icon>
                          {{archive.name}}
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div> -->
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </main-sidenav>

      <div class="app-a-box app-scrollbar-fix">
        <ng-scrollbar>
          <div fxFlex class="relative">
            <div fxFill fxLayout="column" class="mt-4">
              <app-app-calendar
                [calendarOptions]="calendarOptions"
                (dateInit)="initCalendar($event)">
              </app-app-calendar>
            </div>
          </div>
        </ng-scrollbar>
      </div>
    </main-sidenav-container>
  </div>
</div>






